/* #home-head,
#salon-head,
#services-head,
#team-head {
    position: absolute;
    color: white;
    width: 100%;
    text-align: center;
    top: 14vh;
    animation: fade-in-down 4s ease;
    font-family: "noto serif display", serif;
}

@keyframes fade-in-down {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


@media only screen and (min-width: 548px) and (orientation: landscape) {

    #home-head,
    #salon-head,
    #services-head,
    #team-head {
        top: 27.5vh;
        font-size: 95px
    }
}

@media only screen and (min-width: 1024px) and (orientation: landscape) {

    #home-head,
    #salon-head,
    #services-head,
    #team-head {
        top: 26.5vh;
        font-size: 120px
    }
}

@media only screen and (min-width: 1280px) and (orientation: landscape) {

    #home-head,
    #salon-head,
    #services-head,
    #team-head {
        top: 30.5vh;
        font-size: 120px
    }
}

@media only screen and (min-width: 1366px) and (orientation: portrait) {

    #home-head,
    #salon-head,
    #services-head,
    #team-head {
        top: 27.5vh;
        font-size: 125px
    }
} */