@media only screen and (max-width: 575px) {


    * {
        margin: 1;
        max-width: 100vw;
    }

    body {
        background-color: rgb(214, 204, 190);
        width: 100%;
    }


    /*NAVBAR*/
    .navbar {
        top: 0;
        width: 100%;
    }

    .nav-img {
        top: 0;
        position: absolute;
    }

    /*NAVBAR LINKS*/
    .navbar-logo {
        z-index: 99;
        position: relative;
        width: 40%;
        height: 45%;
        display: flex;
        margin: 0 auto;
        margin-top: 5%;
    }

    .navbar-links {
        z-index: 99;
        position: relative;
        margin: 5.8% 4% -2.4% 4%;
        justify-content: space-between;
        display: flex;
        flex: 1;
    }

    .navbar-links a {
        font-size: 88%;
        text-decoration: none;
        color: white;
        display: flex;
    }



    .navbar-links a:hover {
        cursor: pointer;
        color: rgb(234, 194, 201);
    }

    /*NAVBAR BOOK BUTTON*/
    .book-now-button {
        display: flex;
        width: 50%;
        margin: 0 auto;
        margin-bottom: 5%;
        font-family: "playfair display";
        font-size: 19px;
        color: white;
    }



    .book-now-button span:hover {
        color: rgb(234, 194, 201);
        cursor: pointer;
    }

    .book-now-button span {
        display: flex;
        margin: 0 auto;
        z-index: 1;
        background-color: transparent;
    }

    @media only screen and (min-width:315px) {
        .book-now-button span {
            font-size: 14px;
        }

        .navbar-links {
            margin-bottom: -3.2%;
        }

        .navbar-links a {
            font-size: 84%;
        }
    }

    @media only screen and (min-width:360px) {
        .book-now-button span {
            font-size: 17px;
        }

        .navbar-links {
            margin-bottom: -2.2%;
        }

        .navbar-links a {
            font-size: 85%;
        }
    }

    @media only screen and (min-width:412px) {
        .book-now-button span {
            font-size: 18px;
        }

        .navbar-links {
            margin-bottom: -1.8%;
        }

        .navbar-links a {
            font-size: 98%;
        }
    }


    @media only screen and (min-width:430px) {
        .book-now-button span {
            font-size: 19px;
        }

        .navbar-links {
            margin-bottom: -2%;
        }

        .navbar-links a {
            font-size: 97%;
        }
    }

    @media only screen and (min-width:450px) {
        .book-now-button span {
            font-size: 19.5px;
        }

        .navbar-links {
            margin-bottom: -1.4%;
        }

        .navbar-links a {
            font-size: 98%;
        }
    }



    @media only screen and (min-width:480px) {
        .navbar-links a {
            font-size: 99%;
        }

        .navbar-links {
            margin-bottom: -1.2%;
        }

        .book-now-button span {
            font-size: 20px;
        }
    }

    @media only screen and (min-width:520px) {
        .navbar-links a {
            font-size: 107%;
        }

        .navbar-links {
            margin-bottom: -0.7%;
        }

        .book-now-button span {
            font-size: 21px;
        }
    }

    @media only screen and (min-width:550px) {
        .navbar-links a {
            font-size: 108%;
        }

        .navbar-links {
            margin-bottom: -0.1%;
        }

        .book-now-button span {
            font-size: 22px;
        }
    }

    @media only screen and (min-width:570px) {
        .navbar-links a {
            font-size: 110%;
        }

        .navbar-links {
            margin-bottom: 0.2%;
        }

        .book-now-button span {
            font-size: 22px;
        }
    }



    .social-icon a {
        width: 0px;
        height: 0px;
    }

    .social-icon a {
        background: transparent;
        background-color: rgb(190, 181, 169);
        display: inline-flex;
        border-radius: 50%;
        margin-right: 3%;
        align-items: center;
        justify-content: center;
        line-height: 1;
        /* border: 1px solid white; */
    }

    .social-icon aa:before {
        content: "";
        background-color: #cec4c1;
        border: 2px solid white;
        border-radius: 50%;
        transform: scale(0);
        transition: 0.3s ease-in-out;
    }

    .social-icon a:hover::before {
        transform: scale(1);
    }

    .social-icon a img {
        width: 50%;
        z-index: 1;
        transition: 0.3s ease-in-out;
        background-color: transparent;
    }

    .social-icon a:hover img {
        outline: none;
        background-color: #cec4c1;
    }


    .homepage-head {
        color: transparent;
        font-size: 1px;
    }




    /*PAGES*/

    /* HOME PAGE */

    /* Home Detail */

    .homedetail-wrap {
        background-color: rgb(205, 199, 186);
        border: 1px solid white;
        margin: 3% 4% 6% 4%;
    }

    .homedetail-text {
        margin-top: 3%;
        text-align: center;
        font-size: 25px;
        color: whitesmoke;
        font-family: "italiana";
    }

    .homedetail-welcome {
        text-align: center;
        margin-top: 3%;
        color: white;
        font-style: italic;
        font-family: "italiana";
        font-size: 11px;
    }

    .homedetail-subtext {
        line-height: 22px;
        font-family: "italiana", serif;
        font-size: 12.5px;
        text-align: center;
        color: white;
        margin: 2% 10%;
    }

    .homedetail-book-button {
        display: flex;
        margin: 0 auto;
        width: 24%;
        margin-bottom: 2%;
        background-color: #bcb2af;
        border: 1px solid whitesmoke;
        padding: 2% 2%;
        color: white;
        font-family: "italiana", serif;
        font-size: 11px;
        transition: 0.3s ease-in-out;
        box-shadow: inset 0 0 0 0 rgb(221, 211, 211);
    }

    .homedetail-book-button span {
        padding-top: 3%;
        display: flex;
        margin: 0 auto;
    }

    .homedetail-book-button:hover {
        border: 2px solid white;
        box-shadow: inset 140px 0 0 0 rgb(190, 181, 169);
    }

    .homedetail-book-button span:hover {
        color: whitesmoke;
    }

    /* HOME DETAIL QUERIES*/
    @media only screen and (min-width: 375px) {

        .homedetail-text {
            font-size: 29px;
        }

        .homedetail-welcome {
            font-size: 15px;
        }

        .homedetail-subtext {
            font-size: 14px;
            margin: 2% 5%;
        }
    }

    @media only screen and (min-width: 410px) {
        .homedetail-subtext {
            font-size: 14.5px
        }
    }

    @media only screen and (min-width: 540px) {

        .homedetail-text {
            font-size: 30px;
        }

        .homedetail-welcome {
            font-size: 16px;
        }

        .homedetail-subtext {
            font-size: 15px;
        }
    }

    /* Home Detail finish */

    /* Home Stylists */
    .homestylists-wrap {
        margin-top: 10%;
    }

    .homestylists-header {
        margin: 0% 2%;
        line-height: 28px;
        color: white;
        font-size: 23px;
        text-align: center;
        font-family: "italiana";
    }

    .homestylists-subtext {
        margin: 1% 3% 0% 3%;
        color: rgb(135, 110, 110);
        font-family: "lato";
        font-size: 13px;
        line-height: 26px;
        text-align: center;
    }

    .homestylists-button {
        display: flex;
        text-decoration: none;
        margin: 2% auto;
        width: 32%;
        height: 3%;
        background-color: #bcb2af;
        border: 1px solid whitesmoke;
        padding: 2% 1%;
        border-radius: 50px;
        font-family: "italiana", serif;
        transition: 0.3s ease-in-out;
        box-shadow: inset 0 0 0 0 rgb(221, 211, 211);
    }

    .homestylists-button span {
        color: white;
        font-size: 11px;
        padding-top: 1%;
        display: flex;
        margin: 0 auto;
    }


    .homestylists-button:hover {
        border: 2px solid white;
        box-shadow: inset 400px 0 0 0 rgb(190, 181, 169);
    }


    .homestylists-img {
        width: 220px;
        height: 200px;
        display: flex;
        margin: 4% auto;
        border-radius: 2px;
    }

    /* HOME STYLIST QUERIES*/
    @media only screen and (min-width: 360px) {
        .homestylists-button span {
            font-size: 11px
        }

        .homestylists-button {
            width: 25%;
            height: 3%;
            padding: 2% 2%;
        }
    }

    @media only screen and (min-width: 400px) {
        .homestylists-button span {
            font-size: 12.5px
        }

        .homestylists-img {
            width: 240px;
            height: 220px;
        }

        .homestylists-header {
            font-size: 27px
        }

        .homestylists-button {
            width: 26%;
            height: 3%;
            padding: 2% 1%;
        }

        .homestylists-button span {
            font-size: 12px;
        }
    }

    @media only screen and (min-width: 500px) {
        .homestylists-subtext {
            font-size: 15px;
        }

        .homestylists-header {
            font-size: 28px
        }
    }

    /* Home Stylists finish*/

    /* Home Contact */
    

    /* HOME CONTACT QUERIES */

    /* Home Contact Finish */



    /* TEAM PAGE */

    .team-page-wrap {
        font-family: "italiana";
        animation: fade-in-left 3s ease;
        margin-bottom: 3%;
    }

    @keyframes fade-in-left {
        0% {
            opacity: 0;
            transform: translateX(-20px);
        }

        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }

    .page-intro {
        margin-top: 5%;
        font-size: 24px;
        color: white;
        text-align: center;
    }


    .team-girls {
        margin-top: 5%;
    }


    /* Team buttons */

    .team-buttons {
        display: inline-flex;
        margin: 2% 0% 5% 3%;
    }

    .team-book-now-button {
        width: 100px;
        height: 40px;
        display: inline-flex;
        border-radius: 50px;
        font-size: 11px;
        color: whitesmoke;
        border: 1px solid rgb(135, 110, 110);
        background-color: #d1cac7;
        padding: 5% 1%;
        position: relative;
        transition: 0.3s ease-in-out;
        box-shadow: inset 0 0 0 0 #D3C4BE;
        cursor: pointer;
        font-family: "lato";
        margin-left: 9%;
    }

    .team-book-now-button span {
        z-index: 1;
        background-color: transparent;
        display: flex;
        margin: 0 auto;
    }

    .team-book-now-button:hover {
        color: rgb(135, 110, 110);
        border: 1px solid rgb(135, 110, 110);
        box-shadow: inset 140px 0 0 0 #D3C4BE;
    }

    .team-social-button a {
        width: 40px;
        height: 40px;
        background: transparent;
        border: 1px solid rgb(135, 110, 110);
        background-color: #d1cac7;
        display: inline-flex;
        border-radius: 50%;
        margin-left: 3%;
        align-items: center;
        justify-content: center;
        line-height: 1;
        border: 1px solid rgb(135, 110, 110);
    }

    .team-social-button a::before {
        content: "";
        width: 40px;
        height: 40px;
        position: absolute;
        background-color: #cec4c1;
        border: 2px solid white;
        border-radius: 50%;
        transform: scale(0);
        transition: 0.3s ease-in-out;
    }

    .team-social-button a:hover::before {
        transform: scale(1);
        border: 2px solid rgb(135, 110, 110);
        box-shadow: inset 140px 0 0 0 #D3C4BE;
    }

    .team-social-button a img {
        width: 45%;
        z-index: 1;
        transition: 0.3s ease-in-out;
        background-color: transparent;
    }

    .team-social-button a:hover img {
        outline: none;
        background-color: #cec4c1;
    }


    /* Team treatment type */

    .flex-name-treatment {
        display: flex;
        margin-bottom: 2%;
    }

    .treatment-type {
        width: 50px;
        height: 30px;
        margin-left: 2%;
        display: inline-flex;
        font-size: 13px;
        color: rgb(135, 110, 110);
        border: 1px solid rgb(134, 110, 110);
        border: 1px solid whitesmoke;
    }

    .treatment-type span {
        margin: 0 auto;
        padding-top: 17%;
    }

    .treatment-type-erin {
        width: 60px;
        height: 30px;
        font-size: 7px;
        display: inline-flex;
        color: rgb(135, 110, 110);
        border: 1px solid whitesmoke;
        margin-left: 2%;
    }

    .treatment-type-erin span {
        margin: 0 auto;
        padding-top: 14%;
        text-align: center;
    }



    /* Team profiles */
    .team-h2 {
        color: white;
        font-size: 26px;
        margin: 0.5% 0% 0% 4%;
        /* font-family: "playfair display"; */
    }

    .team-pics img {
        height: 190px;
        width: 190px;
        display: flex;
        padding-bottom: 3.5%;
        margin: 0 auto;
    }

    .team-about {
        color: rgb(135, 110, 110);
        /* color: whitesmoke; */
        font-size: 15px;
        line-height: 2;
        margin: -2% 3%;
        padding-bottom: 10%;
        font-family: "playfair display";
    }

    /* TEAM MEDIA QUERIES */
    @media only screen and (min-width:375px) {
        .team-pics img {
            height: 210px;
            width: 210px;
        }

        .team-about {
            font-size: 16px;
        }

        .team-book-now-button {
            width: 102px;
            height: 45px;
            display: inline-flex;
            border-radius: 50px;
            font-size: 11px;
            padding: 6.5% 1%;
        }

        .team-social-button a {
            width: 45px;
            height: 45px;
        }

        .team-social-button a::before {
            width: 45px;
            height: 45px;
        }

    }

    @media only screen and (min-width: 412px) {
        .team-about {
            font-size: 18px;
        }

        .team-pics img {
            height: 230px;
            width: 230px;
        }

        .team-h2 {
            font-size: 28px;
            margin-top: 0.2%;
        }

        .treatment-type-erin {
            width: 80px;
            height: 35px;
            font-size: 10px;
        }

        .treatment-type-erin span {
            padding-top: 10%;
        }

        .team-book-now-button {
            padding: 7% 1%;
        }
    }

    @media only screen and (min-width: 470px) {
        .team-pics img {
            height: 240px;
            width: 240px;
        }

        .team-h2 {
            font-size: 31px;
            margin-top: 1%;
        }

        .team-book-now-button {
            width: 123px;
            height: 50px;
            display: inline-flex;
            border-radius: 50px;
            font-size: 13px;
            padding: 6% 1%;
        }

        .team-social-button a {
            width: 50px;
            height: 50px;
        }

        .team-social-button a::before {
            width: 50px;
            height: 50px;
        }

        .treatment-type {
            width: 60px;
            height: 40px;
            font-size: 15px;
        }

        .treatment-type span {
            padding-top: 20%;
        }

        .treatment-type-erin {
            width: 80px;
            height: 40px;
            font-size: 10px;
        }

        .treatment-type-erin span {
            padding-top: 13%;
        }
    }




    /*FOOTER*/

    .main-footer {
        border-top: 0.5px solid white;
        bottom: 0;
        width: 100%;
        font-family: "lato";
        color: rgb(134, 112, 112);
        background-color: rgb(218, 208, 196);
        animation: fade-in-left 2s ease;
    }

    @keyframes fade-in-left {
        0% {
            opacity: 0;
            transform: translateX(-20px);
        }

        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }

    .footer-address {
        display: flex;
        flex-direction: column;
        margin-top: 3%;
        padding-right: 8.6%;
        font-size: 11.8px;
    }

    @media only screen and (min-width:315px) {
        .footer-address {
            padding-right: 9%;
            font-size: 10px;
        }
    }

    @media only screen and (min-width:559px) {
        .footer-address {
            padding-right: 7%;
        }
    }

    .footer-address-list {
        list-style: none;
        display: flex;
        margin: 0 auto;
        color: white;
    }

    .footer-address-list li {
        margin-left: 4px;
        display: flex;
        flex-direction: column;
    }

    .footer-opening-times {
        align-items: center;
        margin: 10px 0%;
        display: flex;
        flex-direction: column;
    }

    .footer-weekdays {
        font-size: 11px;
        list-style: none;
        text-decoration: none;
        text-align: left;
    }

    .footer-weekdays th {
        padding-right: 5px;
    }

    .footer-current-day {
        color: white;
    }

    .footer-socials {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 18px 0px;
    }

    .footer-socials img {
        height: 30px;
        width: 30px;
        padding: 0px 7px;
        margin-right: 13px;
        max-width: 100%;
    }

    .tiktok-footer img {
        max-width: 100%;
        /* display: block; */
    }

    .sitemap {
        display: flex;
        flex-direction: column;
        margin: 20px 0px;
    }

    .sitemap-list {
        display: flex;
        margin: 0 auto;
        padding-right: 12%;
    }


    @media only screen and (min-width: 471px) {
        .sitemap-list {
            display: flex;
            margin: 0 auto;
            padding-right: 10%;
        }
    }

    @media only screen and (min-width: 559px) {
        .sitemap-list {
            display: flex;
            margin: 0 auto;
            padding-right: 8%;
        }
    }

    .sitemap-list a {
        margin-left: 10px;
        font-size: 15px;
        text-decoration: none;
        color: rgb(134, 112, 112);
    }

    @media only screen and (min-width:315px) {
        .sitemap-list {
            padding-right: 14.5%;
        }

        .sitemap-list a {
            font-size: 10px;
        }
    }

    @media only screen and (min-width:334px) {
        .sitemap-list {
            padding-right: 13%;
        }
    }

    @media only screen and (min-width:390px) {
        .sitemap-list {
            padding-right: 11%;
        }
    }

    @media only screen and (min-width:475px) {
        .sitemap-list {
            padding-right: 10%;
        }
    }

    @media only screen and (min-width:520px) {
        .sitemap-list {
            padding-right: 9%;
        }
    }


    .sitemap-list a:hover {
        color: white;
    }

    .footer-logo img {
        max-width: 120px;
        max-height: 120px;
        border-radius: 50%;
        display: flex;
        margin: 0 auto;
        margin-bottom: 15px;
        animation: gelatine 8.5s infinite;
    }

    @keyframes gelatine {

        from,
        to {
            transform: scale(1, 1);
        }

        25% {
            transform: scale(0.9, 1.1);
        }

        50% {
            transform: scale(1.1, 0.9);
        }

        75% {
            transform: scale(0.95, 1.05);
        }
    }

    .footer-logo img:hover {
        cursor: pointer;
    }

    .footer-hr {
        margin: 0;
    }

    .footer-disclaimer {
        color: rgb(105, 88, 88);
        background-color: rgb(214, 204, 190);
        text-align: center;
        font-size: 5px;
        padding-bottom: 0.3%;
    }



}

/* for any imgs :

 max-width: 100%;
  display: block;


  still use width and height on top of this

*/