@media only screen and (min-width: 992px) {
    .main-footer {
        border-top: 0.5px solid white;
        bottom: 0;
        position: fixed;
        width: 100%;
        font-family: "lato";
        color: rgb(134, 112, 112);
        background-color: rgb(218, 208, 196);
    }

    .footer-address {
        display: flex;
        flex-direction: column;
        margin-top: 2%;
        padding-right: 8.6%;
        font-size: 17px;
    }

    .footer-address-list {
        list-style: none;
        display: flex;
        margin: 0 auto;
        color: white;
    }

    .footer-address-list li {
        margin-left: 4px;
        display: flex;
        flex-direction: column;
    }

    .footer-opening-times {
        align-items: center;
        margin: 7px 0%;
        display: flex;
        flex-direction: column;
    }

    .footer-weekdays {
        font-size: 13px;
        list-style: none;
        text-decoration: none;
        text-align: left;
    }

    .footer-current-day {
        color: white;
    }

    .footer-socials {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px 0px;
    }

    .footer-socials img {
        height: 32px;
        width: 32px;
        padding: 0px 5px;
        margin-right: 11px;
        max-width: 100%;
    }

    .tiktok-footer img {
        max-width: 100%;
        /* display: block; */
    }

    .sitemap {
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
    }

    .sitemap-list {
        display: flex;
        margin: 0 auto;
        padding-right: 10%;

    }

    .sitemap-list a {
        margin-left: 10px;
        font-size: 17px;
        text-decoration: none;
        color: rgb(134, 112, 112);
    }

    .sitemap-list a:hover {
        color: white;
    }

    .footer-logo img {
        max-width: 150px;
        max-height: 150px;
        border-radius: 50%;
        display: flex;
        margin: 0 auto;
        margin-bottom: 15px;
        animation: gelatine 8.5s infinite;
    }

    @keyframes gelatine {

        from,
        to {
            transform: scale(1, 1);
        }

        25% {
            transform: scale(0.9, 1.1);
        }

        50% {
            transform: scale(1.1, 0.9);
        }

        75% {
            transform: scale(0.95, 1.05);
        }
    }

    .footer-logo img:hover {
        cursor: pointer;
    }

    .footer-hr {
        margin: 0;
    }

    .footer-disclaimer {
        color: rgb(105, 88, 88);
        text-align: center;
        font-size: 7px;
        padding-bottom: 0.5%;
    }

}