@media only screen and (min-width:767px) {
    * {
        margin: 1;
        max-width: 100vw;
    }

    html {
        scrollbar-width: none;
    }

    body {
        -ms-overflow-style: none;
        background-image: url("../components/imgs/marble3bg.png");
        width: 100%;
    }

    *::-webkit-scrollbar {
        display: none;
    }

    #page-components-wrap {
        animation: fade-in-left 3s ease;
    }

    @keyframes fade-in-left {
        0% {
            opacity: 0;
            transform: translateX(-20px);
        }

        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }


    /*HOMEPAGE TITLES*/

    .homepage-head,
    #team-head,
    #salon-head,
    #services-head {
        animation: fade-in-down 4s ease;
        font-family: "noto serif display", serif;
    }

    @keyframes fade-in-down {
        0% {
            opacity: 0;
            transform: translateY(-20px);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .page-intro {
        font-size: 0px;
        color: transparent;
    }

    .homepage-head {
        position: relative;
        color: white;
        width: 100%;
        font-size: 100px;
        text-align: center;
        margin-top: 6%;
    }

    #team-head {
        font-size: 95px;
        margin-top: -4%;
    }

    #salon-head,
    #services-head {
        font-size: 110px;
        margin-top: 4%;
    }


    @media only screen and (min-width:850px) {
        .homepage-head {
            width: 100%;
            text-align: center;
            margin-top: 7%;
        }

        #team-head {
            font-size: 95px;
        }

        #salon-head,
        #services-head {
            font-size: 110px;
            margin-top: 4%;
        }

    }

    @media only screen and (min-width:910px) {
        .homepage-head {
            width: 100%;
            text-align: center;
            margin-top: 8%;
            font-size: 105px;
        }

        #team-head {
            font-size: 100px;
        }

        #salon-head,
        #services-head {
            font-size: 115px;
            margin-top: 6%;
        }

    }

    /* HOME PAGE */


    .homedetail-background-img {
        /* height: 350px;
        width: 290px;
        display: flex;
        margin: 43% 0% 0% 62.3%;
        border-radius: 2px;
        position: absolute; */
        width: 100%;
        margin-top: 18.3%;
        height: auto;
        position: absolute;
        z-index: -1;
        opacity: 0.9;
    }

    /* HOME WELCOME */

    .homewelcome-wrap {
        padding-bottom: 8%;
        margin: 8% 0% 0% 2%;
        font-family: "italiana";
        text-transform: uppercase;
    }

    .homewelcome-header-img {
        display: flex;
    }

    .homewelcome-header-img img {
        height: 50vh;
        width: auto;
        margin-top: 17%;
        position: absolute;
        margin-left: 29%;
        z-index: -1;
    }

    .homewelcome-header {
        z-index: 90;
        font-size: 120px;
        margin: 48% 0% -5% -2%;
        color: rgb(202, 190, 183);
        color: whitesmoke;
    }

    .homewelcome-header p {
        margin-left: 5%;
        line-height: 3%;
        margin-top: -16%;
    }

    #homewelcome-left {
        padding-left: 4%
    }

    .homewelcome-p {
        font-size: 28px;
        color: rgb(197, 181, 172);
        color: white;
        margin-bottom: -11%;
        margin-left: 1%;
    }


    /* Home Detail */

    .homedetail-wrap {
        z-index: 99;
        border: 1px solid transparent;
        background-color: transparent;
        margin-top: 18%;
    }


    .homedetail-subtext {
        line-height: 32px;
        font-family: 'noto serif display', serif;
        font-size: 17px;
        text-align: center;
        padding: 8% 0% 4% 8%;
        line-height: 27.5px;
        color: rgb(95, 64, 64);
        color: white;
        margin: 2% 8% 0% 0%;
    }

    .homedetail-book-button {
        display: flex;
        margin: 0 auto;
        background-color: transparent;
        padding: 2.5% 5%;
        font-family: "noto serif display", serif;
        font-size: 14px;
        font-weight: 400;
        transition: 0.3s ease-in-out;
        color: whitesmoke;
        border: 2px solid white;
        box-shadow: inset 600px 0 0 0 #e0d9d997;
    }


    .homedetail-book-button:hover {
        color: whitesmoke;
        box-shadow: inset 600px 0 0 0 #e0d9d997;
        border: 2px solid transparent;
    }

    .homedetail-book-button span {
        padding-top: 2%;
        color: white;
        display: flex;
        margin: 0 auto;
        font-size: 20px;
    }

    .homedetail-book-button span:hover {
        color: rgb(168, 145, 149);
    }

    /* HOME DETAIL QUERIES */
    @media only screen and (min-width: 900px) {
        .homedetail-text {
            font-size: 34px;
        }

        .homedetail-welcome {
            font-size: 20px;
        }

        .homedetail-subtext {
            line-height: 30px;
            font-size: 13px;
        }

        .homedetail-book-button {
            font-size: 14px;
        }
    }

    /* Home Detail finish */


    /* Home Services */

    .homeservices-wrap {
        margin: -3% 0% 0% 0%;
        padding-top: 2%;
        /* background-image: url("../components/imgs/servicewave.png"); */
    }

    .homeservices-header {
        margin: 6% 66% 6% 6%;
        line-height: 28px;
        color: rgb(197, 181, 172);
        color: whitesmoke;
        font-size: 47px;
        text-align: left;
        text-transform: uppercase;
        font-family: "italiana";
    }

    .homeservices-info {
        display: inline-flex;
        margin-left: 1%;
    }

    .homeservices-info img {
        height: 55%;
        width: 97%;
    }

    .homeservices-info p {
        margin-right: 10%;
        color: rgb(171, 138, 138);
        color: white;
        text-align: center;
        line-height: 24px;
        font-size: 13.5px;
        font-family: "noto serif display", serif;
    }

    .homeservices-link a {
        text-decoration: none;
        color: rgb(176, 147, 147);
        text-transform: uppercase;
        font-family: "noto serif display", serif;
    }

    .homeservices-link {
        margin-top: 1%;
        padding-bottom: 4%;
        text-align: center;
        font-size: 12px;
    }

    .homeservices-link a:hover {
        color: white;
    }



    /* Home Services finish*/

    /* Home Stylists */
    .homestylist-background-img {
        width: 100%;
        height: auto;
        position: absolute;
        z-index: -1;
        opacity: 0.8;
    }

    .homestylists-wrap {
        background-color: transparent;
        margin-top: -0.1%;
    }

    .homestylists-header {
        margin: 0% 70% 0% 7%;
        line-height: 28px;
        color: rgb(197, 181, 172);
        color: rgb(208, 198, 187);
        color: white;
        font-size: 47px;
        text-align: left;
        text-transform: uppercase;
        font-family: "italiana";
    }

    .homestylists-text-img {
        display: inline-flex;
        margin: 1% 3%;
        margin-bottom: 4%;
        flex-direction: row-reverse;
    }


    .homestylists-subtext {
        margin: 7% 4% 3% 2%;
        color: rgb(197, 166, 166);
        color: white;
        font-family: "noto serif display", serif;
        font-size: 12px;
        line-height: 38px;
        text-align: left;
    }

    .homestylists-button {
        display: flex;
        text-decoration: none;
        margin-left: 4.5%;
        margin-top: -11%;
        width: 18%;
        height: 3%;
        background-color: transparent;
        border: 1.5px solid white;
        padding: 1.3% 1%;
        border-radius: 1px;
        font-family: "italiana", serif;
        transition: 0.3s ease-in-out;
        box-shadow: inset 0 0 0 0 #EFEEED;
    }

    .homestylists-button span {
        color: white;
        font-size: 11px;
        padding-top: 0.5%;
        display: flex;
        margin: 0 auto;
    }


    .homestylists-button:hover {
        border: 2px solid white;
        box-shadow: inset 400px 0 0 0 #EFEEED;
    }

    .homestylists-button span:hover {
        color: rgb(176, 147, 147);
    }


    .homestylists-img {
        width: 280px;
        height: 280px;
        display: flex;
        margin: 0% auto;

    }

    /* HOME STYLIST QUERIES*/
    @media only screen and (min-width: 850px) {
        .homestylists-subtext {
            font-size: 11px;
            line-height: 42px;
        }


    }

    @media only screen and (min-width: 850px) and (max-width: 879px) {
        .homestylists-button {
            margin-top: -10%;
        }
    }

    @media only screen and (min-width: 880px) {
        .homestylists-header {
            font-size: 33px;
        }

        .homestylists-subtext {
            font-size: 11.5px;
            line-height: 42px;
        }

        .homestylists-img {
            width: 260px;
            height: 240px;
        }

    }

    @media only screen and (min-width: 950px) {
        .homestylists-subtext {
            font-size: 12px;
            margin-top: 6.5%;
        }

        .homestylists-img {
            width: 280px;
            height: 260px;
        }

        .homestylists-button {
            margin-top: -13.5%;
        }

    }

    /* Home Stylists finish*/

    /* HomeContact */
    .homecontact-page-wrap {
        animation: fade-in-left 2s ease;
        margin-top: 1.5%;
        border: 1.2px solid white;
        background-color: transparent;
        font-family: "noto serif display", serif;

    }

    @keyframes fade-in-left {
        0% {
            opacity: 0;
            transform: translateX(-20px);
        }

        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }

    .homecontact-banner {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .homecontact-address {
        margin-top: -4%;
    }


    .homecontact-address-h4 {
        letter-spacing: 0.2em;
        color: #b39991;
        color: white;
        font-size: 21px;
        text-align: center;
        margin-bottom: 4%;
    }

    .homecontact-address-table {
        list-style: none;
        color: rgb(176, 147, 147);
        line-height: 35px;
        text-align: center;
        font-size: 13px;
    }

    .homecontact-openingtimes {
        margin: 0% 1.8% 0% 0%;
    }


    .homecontact-openingtimes-h4 {
        letter-spacing: 0.2em;
        color: #b39991;
        color: white;
        font-size: 19.5px;
        text-align: center;
        margin-bottom: 4%;
    }

    .homecontact-weekdays {
        line-height: 22px;
        font-size: 12px;
        color: rgb(176, 147, 147);
        text-align: center;
    }

    .homecontact-weekdays th {
        font-weight: 100;
    }

    .opening-current-day {
        color: white;
    }

    .homecontact-book {
        margin-top: 5%;
    }

    .homecontact-book-h4 {
        letter-spacing: 0.2em;
        color: #b39991;
        color: white;
        font-size: 21px;
        text-align: center;
        margin-bottom: -2%;
    }

    .homecontact-book a {
        display: flex;
        padding-top: 21%;
        text-decoration: none;
        font-size: 11px;
        line-height: 20px;
        color: rgb(176, 147, 147);
        margin-bottom: -9%
    }

    .homecontact-book a:hover {
        color: white;
        cursor: pointer;
    }

    /* HOMECONTACT QUERIES */

    @media only screen and (min-width: 850px) {
        .homecontact-address-h4 {
            font-size: 18px;
        }

        .homecontact-address-table {
            line-height: 23px;
            font-size: 12px;
        }

        .homecontact-openingtimes-h4 {
            font-size: 16px;
        }

        .homecontact-weekdays {
            line-height: 13px;
            font-size: 11px;
        }

        .homecontact-book-h4 {
            font-size: 18px;
        }

        .homecontact-book a {
            font-size: 10px;
            line-height: 11px;
        }
    }

    @media only screen and (min-width: 950px) {
        .homecontact-address-h4 {
            font-size: 18.5px;
        }

        .homecontact-address-table {
            line-height: 24px;
            font-size: 12.5px;
        }

        .homecontact-openingtimes-h4 {
            font-size: 16.5px;
        }

        .homecontact-weekdays {
            line-height: 13px;
            font-size: 11.5px;
        }

        .homecontact-book-h4 {
            font-size: 18.5px;
        }

        .homecontact-book a {
            font-size: 10.5px;
            line-height: 11px;
        }
    }

    /* HomeContact Finish */

    /* HomeInstagram */

    .homeinstagram {
        margin-top: 0%;
        background-image: url('../components/imgs/igbg.png');
        padding-bottom: 2%;
    }

    .homeinstagram-header {
        text-align: center;
        color: whitesmoke;
        letter-spacing: -.03em;
        text-transform: uppercase;
        font-family: "italiana", serif;
        font-size: 45px;
        margin: 0 auto;
        padding-top: 3%;
        margin-bottom: 3%;
    }

    .homeinstagram-widget {
        margin: 0 auto;
    }

    /* Hair Carousel */


    .hair-carousel-wrap {
        margin: 0% 5%;
    }

    .carousel-container {
        background-color: white;
    }

    .hair-carousel-img img {
        /* display: flex;
        margin: 0 auto; */
        height: 60%;
        width: 60%;
        z-index: 99;
    }

    /* Hair Carousel Finish */

    /* Testimonials */

    .testimonial-wrap {
        border-top: 1.5px solid white;
    }

    .testimonials-header {
        padding-top: 6%;
        padding-left: 2%;
        text-align: left;
        text-transform: uppercase;
        color: whitesmoke;
        margin: 0% 52% -13% 6%;
        font-size: 45px;
        line-height: 26px;
    }

    .testimonial-link {
        font-family: "italiana";
        font-size: 14px;
        padding: 3% 0% 4% 0%;
        color: rgb(172, 140, 140);
        text-align: center;
    }

    .testimonial-link:hover {
        cursor: pointer;
        color: white;
    }


    *,
    *:before,
    *:after {
        box-sizing: border-box;
    }

    html,
    body {
        height: 100%;
    }

    body {
        color: white;
        font-family: 'lato', serif;
        line-height: 1.5;
    }


    .slider {
        /* height: 100%; */
        height: 28vh;
        position: relative;
        overflow: hidden;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -webkit-box-align: end;
        -webkit-align-items: flex-end;
        -ms-flex-align: end;
        align-items: flex-end;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .home-slider-nav {
        width: 12px;
        height: 12px;
        margin: 0% 2%;
        z-index: 10;
        outline: 6px solid rgb(172, 161, 161);
        outline-offset: -6px;
        cursor: pointer;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    .home-slider-nav:checked {
        -webkit-animation: check 0.4s linear forwards;
        animation: check 0.4s linear forwards;
    }

    .home-slider-nav:checked:nth-of-type(1)~.slider-inner {
        left: 0%;
    }

    .home-slider-nav:checked:nth-of-type(2)~.slider-inner {
        left: -100%;
    }

    .home-slider-nav:checked:nth-of-type(3)~.slider-inner {
        left: -200%;
    }

    .home-slider-nav:checked:nth-of-type(4)~.slider-inner {
        left: -300%;
    }

    .home-slider-nav:checked:nth-of-type(5)~.slider-inner {
        left: -400%;
    }

    .home-slider-nav:checked:nth-of-type(6)~.slider-inner {
        left: -500%;
    }

    .slider-inner {
        position: absolute;
        top: 0;
        left: 0;
        width: 400%;
        height: 100%;
        -webkit-transition: left 0.4s;
        transition: left 0.4s;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
    }

    .slider-contents {
        height: 100%;
        padding: 4%;
        text-align: center;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        -webkit-flex-flow: column nowrap;
        -ms-flex-flow: column nowrap;
        flex-flow: column nowrap;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
    }


    .slider-caption {
        margin-top: 10%;
        text-transform: uppercase;
        font-size: 12px;
        min-width: 325px;
        color: rgb(172, 140, 140);
    }

    .slider-text {
        color: whitesmoke;
        font-size: 13.5px;
        line-height: 24px;
        margin-bottom: 5.5%;
        max-width: 300px;
        font-family: "noto serif display", serif;
    }

    #slide4,
    #slide5,
    #slide6 {
        visibility: hidden;
    }

    #slide1 {
        margin-left: 17%;
    }

    @-webkit-keyframes check {
        50% {
            outline-color: white;
            box-shadow: 0 0 0 12px whitesmoke, 0 0 0 3px whitesmoke;

        }

        100% {
            outline-color: white;
            box-shadow: 0 0 0 12px whitesmoke, 0 0 0 3px whitesmoke;
        }
    }

    @keyframes check {
        50% {
            outline-color: white;
            box-shadow: 0 0 0 12px whitesmoke, 0 0 0 3px whitesmoke;
        }

        100% {
            outline-color: white;
            box-shadow: 0 0 0 0 whitesmoke, 0 0 0 0 whitesmoke;
        }
    }

    /* TESTIMONIALS QUERIES */
    @media only screen and (min-width: 800px) {
        .testimonials-header {
            font-size: 39px;
        }

        .slider-caption {
            margin-top: 10%;
            text-transform: uppercase;
            font-size: 11px;
            min-width: 335px;
        }

        .slider-text {
            font-size: 12.5px;
        }

    }

    @media only screen and (min-width: 780px) {
        .slider-contents {
            padding: 4%;
        }
    }

    @media only screen and (min-width: 810px) {
        .slider-contents {
            padding: 4.5%;
        }


    }

    @media only screen and (min-width: 830px) {
        .testimonials-header {
            font-size: 36px;
        }

        .slider-contents {
            padding: 5%;
        }

        .slider-text {
            font-size: 12.5px;
        }

    }

    @media only screen and (min-width: 850px) {
        .slider-contents {
            padding: 5.4%;
        }
    }

    @media only screen and (min-width: 880px) {
        .slider-contents {
            padding: 6%;
        }
    }

    @media only screen and (min-width: 900px) {
        .slider-contents {
            padding: 6.5%;
        }
    }

    @media only screen and (min-width: 920px) {
        .slider-contents {
            padding: 6.8%;
        }
    }

    @media only screen and (min-width: 940px) {
        .slider-contents {
            padding: 7.4%;
        }
    }

    @media only screen and (min-width: 960px) {
        .slider-contents {
            padding: 7.8%;
        }
    }

    @media only screen and (min-width: 980px) {
        .slider-contents {
            padding: 8.2%;
        }

        .testimonials-header {
            margin-bottom: -15%;
        }
    }

    /* Testimonials Finish */


    /* SALON PAGE */

    /* Salon Content */

    .saloncontent-wrap {
        margin-top: 25%;
        font-family: "noto serif display", serif;
    }


    .salon-pic-1 {
        display: flex;
        margin-left: 40%;
    }

    .salon-pic-1 img {
        height: auto;
        width: 60vw;
    }

    .salon-about-info-1 {
        box-shadow: inset 600px 0 0 0 #c8bfbf97;
        color: rgb(158, 128, 128);
        position: absolute;
        font-size: 14px;
        text-align: center;
        line-height: 37px;
        margin: 0% 60% 0% 0%;
        height: 308px;
        border: 1px solid white;
        border-right: 0px solid transparent;
        padding: 0% 2%;
    }

    .salon-about-info-1 h2 {
        margin-bottom: -1%;
        color: white;
        font-size: 22px;
        text-transform: uppercase;
    }

    .salon-about-info-2,
    .salon-about-info-3 {
        font-size: 17.5px;
        text-align: center;
        color: rgb(158, 128, 128);
        color: white;
        line-height: 32px;
        margin: 9% 3% 0% 3%;
    }

    .salon-about-info-2 p,
    .salon-info-about-3 p {
        margin-top: 2%;
        margin-left: 1.5%;
    }

    .salon-pics {
        display: inline-flex;
        justify-content: space-between;
        margin: 9% 0% 0% 0%;
        width: auto;
    }

    .salon-pics img {
        height: 24.2vh;
        margin-right: 1%;
    }

    /* Salon Info */

    .salon-info {
        font-family: "noto serif display", serif;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin: 9% 0% 8% 0%;
    }

    .salon-address-context {
        border: 1px solid white;
        border-left: 0px solid transparent;
        box-shadow: inset 600px 0 0 0 #c8bfbf97;
        color: rgb(158, 128, 128);
        flex-direction: row;
        height: 360px;
    }

    .salon-address-div {
        text-transform: uppercase;
        padding-top: -2%;
        font-size: 12px;
        text-align: center;
    }

    .salon-address-div h2 {
        color: white;
        font-size: 22px;
        margin-bottom: -1%;
    }

    .salon-address-div p {
        color: rgb(158, 128, 128);
        margin-bottom: -2%;
    }

    .salon-context {
        text-align: center;
        line-height: 30px;
        margin: 2% 3% 0% 3%;
    }

    .salon-context a {
        text-transform: uppercase;
        border: 1px solid white;
        padding: 2% 3.5%;
        background-color: #b0a9a6;
        color: white;
        text-decoration: none;
    }

    .salon-context a:hover {
        background-color: #cbbcb7;
    }

    .salon-info-img img {
        height: 35vh;
        width: 60vw;
    }


    /* SERVICES PAGE */

    .services-page-wrap {
        font-family: "noto serif display", serif;
    }

    .services-info p {
        margin: 25% 5% -5% 5%;
        color: rgb(200, 180, 180);
        color: white;
        font-size: 30px;
        text-align: center;
        line-height: 47px;
        font-style: italic;
    }

    .services-pricing {
        margin: 25% 0% 0% 0%;
        padding-bottom: 7%;
        border: 1px solid white;
        box-shadow: inset 1000px 0 0 0 #e0d9d997;
    }

    .services-imgs {
        /* background-image: url('../components/imgs/igbg.png'); */
        margin: 4% 0% 4% 0%;
    }


    .pricing-header {
        margin: -8% 60% 1% 3%;
        padding-top: 14%;
        font-size: 55px;
        line-height: 32px;
        color: rgb(172, 140, 140);
        font-family: "italiana", serif;
        text-transform: uppercase;
    }

    .pricing-menu-wrap p {
        color: rgb(172, 140, 140);
        text-transform: uppercase;
        margin: 3% 0% 0% 3%;
        font-size: 9px;
    }

    .services-artists {
        margin: 4% 0% 0% 3%;
        font-size: 20px;
        text-transform: uppercase;
        color: rgb(188, 164, 164);
        color: whitesmoke;
    }

    .pricing-menus {
        margin: 4% 0% -6% 0%;
        display: inline-flex;
        padding: 2% 1.5%;
        justify-content: center;
    }

    .services-recommendation-wrap {
        /* background-color: rgb(239, 238, 237); */
        /* opacity: 0.75;
        border: 1px solid rgb(222, 209, 195); */
        margin: 8% 2% 0% 2%;
        /* border-radius: 8px; */
    }

    .recommendation-header {
        font-family: "italiana";
        text-transform: uppercase;
        font-weight: 100;
        font-size: 30px;
        color: rgb(186, 142, 150);
        text-align: center;
    }

    .services-recommendation-info {
        font-size: 13px;
        color: rgb(134, 110, 110);
        color: white;
        line-height: 29px;
        margin: 0% 1%;
        text-align: center;
    }

    .services-inspiration {
        text-align: center;
        font-size: 15px;
        margin-top: 2%;
        color: rgb(178, 138, 138);
        line-height: 32px;

    }

    .services-inspiration a {
        text-decoration: none;
        color: rgb(196, 169, 174);
    }

    .services-inspiration a:hover {
        color: rgb(154, 132, 136);
    }


    .services-policies {
        border: 1px solid white;
        margin: 6% 3%;
        box-shadow: inset 1000px 0 0 0 #e0d9d97e;
    }

    .services-policies-header {
        font-family: "italiana", serif;
        margin: 4% 0% 3% 3%;
        text-align: center;
        font-size: 50px;
        text-transform: uppercase;
        color: rgb(172, 140, 140);
    }

    .policy-header {
        text-transform: uppercase;
        margin: 0% 0% 1% 3%;
        font-family: "italiana", serif;
        text-align: center;
        font-size: 20px;
        color: rgb(172, 140, 140);
    }

    .policy-p {
        text-align: center;
        font-size: 13px;
        color: white;
        line-height: 25px;
        margin: 0% 7% 2.5% 3%;
    }

    .policy-p a {
        text-decoration: none;
        color: rgb(186, 142, 150);
    }

    .policy-p a:hover {
        color: rgb(212, 197, 200);
    }



    /* TEAM PAGE */

    .team-page-wrap {
        font-family: "italiana";
        animation: fade-in-left 3s ease;
        margin-bottom: 0%;
        margin-top: 10%;
    }

    @keyframes fade-in-left {
        0% {
            opacity: 0;
            transform: translateX(-20px);
        }

        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }


    .teamgirls-wrap {
        font-family: "playfair display";
        margin-top: 10%;
        padding: 4% 0%;
    }


    .team-pic-name-flex {
        display: inline-flex;
    }

    /* Team buttons */

    .team-buttons {
        display: flex;
        margin-left: 8%;
    }


    .team-book-now-button {
        width: 100px;
        height: 50px;
        display: inline-flex;
        font-size: 11px;
        font-weight: 300;
        color: #b0a9a6;
        border: 2px solid white;
        background-color: #ecebeb;
        padding: 1.7% 2%;
        position: relative;
        transition: 0.3s ease-in-out;
        box-shadow: inset 0 0 0 0 #D3C4BE;
        cursor: pointer;
        font-family: "noto serif display", serif;
        margin-left: -0.5%;
        border-radius: 0px;
        margin-right: 3%;
    }

    .team-book-now-button span {
        z-index: 1;
        background-color: transparent;
        display: flex;
        margin: 0 auto;
    }

    .team-book-now-button:hover {
        color: #b0a9a6;
        border: 2.5px solid white;
        box-shadow: inset 140px 0 0 0 #eae6e4;
    }


    .team-social-button a {
        width: 50px;
        height: 50px;
        border: 2px solid white;
        background-color: #ecebeb;
        display: inline-flex;
        border-radius: 50%;
        border-radius: 0%;
        margin-left: 0%;
        align-items: center;
        justify-content: center;
        line-height: 1;
    }

    .team-social-button a::before {
        content: "";
        width: 50px;
        height: 50px;
        position: absolute;
        background-color: #dcd3d1;
        border: 2px solid white;
        border-radius: 0%;
        transform: scale(0);
        transition: 0.3s ease-in-out;
    }

    .team-social-button a:hover::before {
        transform: scale(1);
        border: 2.5px solid white;
        box-shadow: inset 140px 0 0 0 #eae6e4;
    }

    .team-social-button a img {
        width: 60%;
        z-index: 1;
        transition: 0.3s ease-in-out;
        background-color: #eae6e4;
    }

    .team-social-button a:hover img {
        outline: none;
        background-color: #eae6e4;
    }


    /* Team treatment type */

    .treatment-type {
        font-family: "noto serif display", serif;
        width: 100px;
        height: 50px;
        font-size: 20px;
        font-weight: 300;
        color: #b0a9a6;
        border: 2px solid white;
        background-color: #ecebeb;
        padding: 0% 2%;
        margin-left: 3%;
        display: inline-flex;
    }

    .treatment-type span {
        margin: 0 auto;
        padding-top: 11.8%;
    }

    .treatment-type-erin {
        font-family: "noto serif display", serif;
        width: 100px;
        height: 50px;
        font-size: 9px;
        font-weight: 300;
        color: #b0a9a6;
        border: 2px solid white;
        background-color: #ecebeb;
        padding: 0% 2%;
        margin-left: 3%;
        display: inline-flex;
    }

    .treatment-type-erin span {
        margin: 0 auto;
        padding-top: 15%;
        text-align: center;
    }

    /* Team profiles */
    .team-h2 {
        font-family: "playfair display";
        font-weight: 100;
        color: rgb(167, 132, 138);
        font-size: 43px;
        letter-spacing: 0.10em;
        margin-left: 9%;
    }

    .team-name-title {
        margin: 20% 0% 0% 8%;
    }

    .team-title {
        font-family: "noto serif display", serif;
        margin: -16% 0% 0% 10%;
        font-size: 13px;
        text-transform: uppercase;
        color: whitesmoke;
    }

    .team-pics img {
        height: 370px;
        width: 370px;
        display: flex;
        padding-bottom: 3.5%;
        margin-top: 3%;
        margin-left: 6%
    }

    .team-about {
        color: white;
        font-size: 16.5px;
        line-height: 2.5;
        margin: 4% 3%;
        margin-right: 12%;
        font-family: "noto serif display", serif;
        letter-spacing: -0.03em;
    }

    .team-specialise {
        margin-top: 2%;
        color: rgb(167, 132, 138);
        font-size: 17px;
    }


    .team-hours {
        margin-top: -0.5%;
        color: rgb(141, 113, 118);
        font-size: 17px;
    }

    /*TEAM MEDIA QUERIES*/
    @media only screen and (min-width: 819px) {
        .team-h2 {
            font-size: 45px;
        }

        .team-title {
            font-size: 14px;
        }

        .team-pics img {
            height: 380px;
            width: 380px;
        }

        .team-about {
            font-size: 17.5px;
        }

        .team-specialise,
        .team-hours {
            font-size: 18px;
        }
    }

    @media only screen and (min-width: 833px) {
        #team-head {
            margin-top: 1%;
        }
    }

    @media only screen and (min-width: 883px) {
        .team-pics img {
            height: 390px;
            width: 390px;
        }

        .team-about {
            font-size: 18px;
        }

        .team-specialise,
        .team-hours {
            font-size: 18.5px;
        }
    }




    /*FOOTER*/

    .main-footer {
        bottom: 0;
        width: 100%;
        text-transform: uppercase;
        font-family: "noto serif display", serif;
        background-color: rgba(179, 161, 140, 0.335);
        animation: fade-in-left 2s ease;
    }

    @keyframes fade-in-left {
        0% {
            opacity: 0;
            transform: translateX(-20px);
        }

        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }

    .footer-address {
        display: flex;
        flex-direction: column;
        margin-top: 2.5%;
        padding-right: 8.6%;
        font-size: 16px;
    }

    @media only screen and (min-width:774px) {
        .footer-address {
            padding-right: 5%;
        }
    }

    @media only screen and (min-width:904px) {
        .footer-address {
            padding-right: 3.5%;
        }
    }

    .footer-address-list {
        list-style: none;
        display: flex;
        margin: 0 auto;
        color: white;
    }

    .footer-address-list li {
        margin-left: 4px;
        display: flex;
        flex-direction: column;
    }

    .footer-opening-times {
        align-items: center;
        text-align: center;
        margin: 12px 0%;
        display: flex;
        flex-direction: column;
    }

    .footer-weekdays {
        font-size: 11px;
        list-style: none;
        text-decoration: none;
        text-align: left;
    }

    .footer-weekdays th {
        padding-right: 5px;
        font-weight: 500;
    }

    .footer-weekdays td {
        text-align: center;
    }

    .footer-current-day {
        color: white;
    }

    .footer-socials {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 18px 0px;
    }


    .footer-socials img {
        height: 41px;
        width: 41px;
        padding: 0px 9px;
        margin-right: 15px;
        max-width: 100%;
    }

    .tiktok-footer img {
        width: 45px;
        height: 30px;
        margin-bottom: 5px;
    }

    .sitemap {
        display: flex;
        flex-direction: column;
        margin: 20px 0px;
    }

    .sitemap-list {
        display: flex;
        margin: 0 auto;
        padding-right: 7%;

    }

    @media only screen and (min-width:774px) {
        .sitemap-list {
            padding-right: 6%;
        }
    }

    @media only screen and (min-width:904px) {
        .sitemap-list {
            padding-right: 4.5%;
        }
    }

    .sitemap-list a {
        margin-left: 13px;
        font-size: 14px;
        text-decoration: none;
        color: rgb(134, 112, 112);
    }

    .sitemap-list a:hover {
        color: white;
    }

    .footer-logo img {
        max-width: 155px;
        max-height: 155px;
        border-radius: 50%;
        display: flex;
        margin: 0 auto;
        margin-bottom: 17px;
        animation: gelatine 8.5s infinite;
    }

    @keyframes gelatine {

        from,
        to {
            transform: scale(1, 1);
        }

        25% {
            transform: scale(0.9, 1.1);
        }

        50% {
            transform: scale(1.1, 0.9);
        }

        75% {
            transform: scale(0.95, 1.05);
        }
    }

    .footer-logo img:hover {
        cursor: pointer;
    }

    .footer-hr {
        margin: 0;
    }

    .footer-disclaimer {
        color: rgb(105, 88, 88);
        background-color: transparent;
        text-align: center;
        font-size: 6px;
        padding-bottom: 0.8%;
    }

}