@media only screen and (min-width: 576px) {
    * {
        margin: 1;
        max-width: 100vw;
    }

    body {
        background-color: rgb(214, 204, 190);
        width: 100%;
    }



    /*NAVBAR*/
    .navbar {
        top: 0;
        width: 100%;
        margin-bottom: 1%;
    }


    .nav-img {
        top: 0;
        position: absolute;
    }

    /*NAVBAR LINKS*/
    .navbar-logo {
        z-index: 99;
        position: relative;
        width: 40%;
        height: 45%;
        display: flex;
        margin: 0 auto;
        margin-top: 5%;
    }

    .navbar-links {
        z-index: 99;
        position: relative;
        margin: 5.8% 4% -0.3% 4%;
        justify-content: space-between;
        display: flex;
        flex: 1;
    }

    .navbar-links a {
        font-size: 110%;
        text-decoration: none;
        color: white;
        display: flex;
    }

    .navbar-links a:hover {
        cursor: pointer;
        color: rgb(138, 116, 116);
        color: rgb(234, 194, 201);
    }

    /*NAVBAR BOOK BUTTON*/
    .book-now-button {
        display: flex;
        width: 50%;
        margin: 0 auto;
        margin-bottom: 5%;
        font-family: "playfair display";
        font-size: 26px;
        color: white;
        /* border: 1px solid white;
        border-radius: 50px;
        background-color: rgb(190, 181, 169);
        transition: 0.3s ease-in-out;
        box-shadow: inset 0 0 0 0 #e3dfd8; */
    }

    /* .book-now-button:hover {
        font-size: 14px;
        border-radius: 2px;
        border: 2px solid white;
        box-shadow: inset 140px 0 0 0 #cec4c1;
    } */

    .book-now-button span {
        display: flex;
        margin: 0 auto;
        z-index: 1;
        background-color: transparent;
    }

    .book-now-button span:hover {
        color: rgb(234, 194, 201);
        cursor: pointer;
    }

    @media only screen and (min-width:576px) {
        .navbar-links a {
            font-size: 115%;
        }

        .navbar-links {
            margin-bottom: 0.5%;
        }

        .book-now-button span {
            font-size: 23px;
        }
    }

    @media only screen and (min-width:624px) {
        .navbar-links a {
            font-size: 120%;
        }

        .navbar-links {
            margin-bottom: 0.2%;
        }

        .book-now-button span {
            font-size: 25px;
        }
    }

    @media only screen and (min-width:680px) {
        .navbar-links a {
            font-size: 120%;
        }

        .navbar-links {
            margin-bottom: 1%;
        }

        .book-now-button span {
            font-size: 25px;
        }
    }


    @media only screen and (min-width:715px) {
        .navbar-links a {
            font-size: 140%;
        }

        .navbar-links {
            margin-bottom: 0.6%;
        }

        .book-now-button span {
            font-size: 27px;
        }
    }

    /* .book-now-button span:hover {
        color: whitesmoke;
    } */



    /*NAVBAR SOCIALS*/

    /* .social-icon {
        display: inline-flex;
        margin-left: 2%;
    } */


    .social-icon a {
        width: 0px;
        height: 0px;
    }

    .social-icon a {
        background: transparent;
        background-color: rgb(190, 181, 169);
        display: inline-flex;
        border-radius: 50%;
        margin-right: 3%;
        align-items: center;
        justify-content: center;
        line-height: 1;
        /* border: 1px solid white; */
    }

    .social-icon aa:before {
        content: "";
        background-color: #cec4c1;
        border: 2px solid white;
        border-radius: 50%;
        transform: scale(0);
        transition: 0.3s ease-in-out;
    }

    .social-icon a:hover::before {
        transform: scale(1);
    }

    .social-icon a img {
        width: 50%;
        z-index: 1;
        transition: 0.3s ease-in-out;
        background-color: transparent;
    }

    .social-icon a:hover img {
        outline: none;
        background-color: #cec4c1;
    }

    .homepage-head {
        color: transparent;
        font-size: 1px;
    }

    /*TOP PAGE WRAPS*/
    .homedetail-wrap,
    .teamgirls-wrap,
    .saloncontent-wrap,
    .services-recommendation-wrap {
        padding-top: 4%;
    }


    /*FOOTER*/

    .main-footer {
        border-top: 0.5px solid white;
        bottom: 0;
        width: 100%;
        font-family: "lato";
        color: rgb(134, 112, 112);
        background-color: rgb(218, 208, 196);
        animation: fade-in-left 2s ease;
    }

    @keyframes fade-in-left {
        0% {
            opacity: 0;
            transform: translateX(-20px);
        }

        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }

    .footer-address {
        display: flex;
        flex-direction: column;
        margin-top: 3%;
        padding-right: 8.6%;
        font-size: 15px;
    }

    @media only screen and (min-width:670px) {
        .footer-address {
            padding-right: 7%;
        }
    }

    .footer-address-list {
        list-style: none;
        display: flex;
        margin: 0 auto;
        color: white;
    }

    .footer-address-list li {
        margin-left: 4px;
        display: flex;
        flex-direction: column;
    }

    .footer-opening-times {
        align-items: center;
        margin: 11px 0%;
        display: flex;
        flex-direction: column;
    }

    .footer-weekdays {
        font-size: 11px;
        list-style: none;
        text-decoration: none;
        text-align: left;
    }

    .footer-weekdays th {
        padding-right: 5px;
    }

    .footer-current-day {
        color: white;
    }

    .footer-socials {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 18px 0px;
    }

    .footer-socials img {
        height: 30px;
        width: 30px;
        padding: 0px 8px;
        margin-right: 14px;
        max-width: 100%;
    }

    .tiktok-footer img {
        max-width: 100%;
        /* display: block; */
    }

    .sitemap {
        display: flex;
        flex-direction: column;
        margin: 20px 0px;
    }

    .sitemap-list {
        display: flex;
        margin: 0 auto;
        padding-right: 10%;

    }

    @media only screen and (min-width:650px) {
        .sitemap-list {
            padding-right: 7.5%;
        }
    }

    .sitemap-list a {
        margin-left: 10px;
        font-size: 15px;
        text-decoration: none;
        color: rgb(134, 112, 112);
    }

    .sitemap-list a:hover {
        color: white;
    }

    .footer-logo img {
        max-width: 150px;
        max-height: 150px;
        border-radius: 50%;
        display: flex;
        margin: 0 auto;
        margin-bottom: 16px;
        animation: gelatine 8.5s infinite;
    }

    @keyframes gelatine {

        from,
        to {
            transform: scale(1, 1);
        }

        25% {
            transform: scale(0.9, 1.1);
        }

        50% {
            transform: scale(1.1, 0.9);
        }

        75% {
            transform: scale(0.95, 1.05);
        }
    }

    .footer-logo img:hover {
        cursor: pointer;
    }

    .footer-hr {
        margin: 0;
    }

    .footer-disclaimer {
        color: rgb(105, 88, 88);
        background-color: rgb(214, 204, 190);
        text-align: center;
        font-size: 6px;
        padding-bottom: 0.3%;
    }

}