/* DESKTOP NAVBAR*/
.nav-img img {
    opacity: 0.8;
}

.nav-book-button {
    font-family: 'Italiana', serif;
    text-transform: uppercase;
    width: 120px;
    height: 35px;
    color: white;
    border: 2px solid white;
    background-color: rgb(202, 192, 180);
    margin-right: 4%;
    position: relative;
    transition: 0.3s ease-in-out;
    box-shadow: inset 0 0 0 0 #e3dfd8;
    cursor: pointer;
    z-index: 1;
}

.nav-book-button:hover {
    width: 120px;
    font-size: 13px;
    border-radius: 50px;
    box-shadow: inset 140px 0 0 0 #cec4c1;
}

.navbar {
    top: 0;
    width: 100%;
    font-family: 'Playfair Display', serif;
    height: 110px;
    color: rgb(105, 88, 88);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.nav-menu {
    z-index: 99;
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-right: 3rem;
}

.nav-item {
    display: flex;
    align-items: center;
    height: 80px;

}

.nav-links {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.nav-links span:hover {
    color: pink;
}

.fa-bars {
    color: rgb(227, 187, 193);
    color: rgb(218, 196, 196);
    color: rgb(212, 174, 174);
}


.nav-booking-mobile {
    display: none;
}

.nav-menu-icon {
    display: none;
}



/* TABLET AND BELOW SLIDING NAVBAR */

/* TABLET NAVBAR */


@media screen and (max-width: 1279px) {

    .logo {
        z-index: 99;
    }

    .logo img {
        height: 45px;
        width: 45px;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 55vh;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .nav-menu.active {
        background: rgba(245, 245, 245, 0.95);
        border-radius: 1%;
        border: 3px solid rgb(179, 146, 146);
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }

    .nav-links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
        color: rgb(179, 146, 146);
        text-transform: uppercase;
    }

    .nav-links span:hover {
        color: rgb(227, 187, 193);
        border-radius: 0;
    }


    .nav-menu-icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
    }

    .fa-times {
        color: rgb(227, 187, 193);
        color: rgb(218, 196, 196);
        font-size: 3rem;
    }

    .nav-booking-mobile {
        display: block;
        text-align: center;
        padding: 1% 1%;
        margin: 3rem auto;
        margin-bottom: 10%;
        text-decoration: none;
        color: rgb(227, 187, 193);
        font-size: 1.5rem;
        text-transform: uppercase;
    }

    .nav-booking-mobile:hover {
        color: rgb(179, 146, 146);
        transition: 250ms;
    }

    button {
        display: none;
    }

    @media only screen and (min-width: 767px) {}





    /* MOBILE NAVBAR */

    @media only screen and (max-width: 766px) {
        .nav-menu-icon {
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            transform: translate(-100%, 60%);
            font-size: 2rem;
            cursor: pointer;
        }

        .logo {
            display: flex;
            margin: 0 auto;
            margin-top: 8%;
        }

        .logo img {
            height: 110px;
            width: 130px;
        }

        .nav-menu {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 75vh;
            position: absolute;
            top: 140px;
            left: -100%;
            opacity: 1;
            transition: all 0.5s ease;
        }

        .nav-links {
            text-align: center;
            padding: 3%;
            width: 90%;
            font-size: 14px;
            display: table;
            color: rgb(179, 146, 146);
            text-transform: uppercase;
            text-decoration: none;
        }

        .nav-booking-mobile {
            display: block;
            text-align: center;
            width: 80%;
            text-decoration: none;
            color: rgba(227, 187, 193);
            font-size: 16px;
            text-transform: uppercase;
            margin-right: 15%;
        }
    }

    @media only screen and (min-width: 319px) {
        .logo {
            margin-top: 9%;
        }

        .logo img {
            height: 110px;
            width: 130px;
        }

        .nav-menu {
            height: 63vh;
            top: 154px;
        }

        .nav-links {
            padding: 4%;
        }

        #nav-item-1 {
            margin-top: 10%;
        }
    }

    @media only screen and (min-width: 360px) {
        .logo {
            margin-top: 9.5%;
        }

        .logo img {
            height: 130px;
            width: 150px;
        }

        .nav-menu {
            height: 65vh;
            top: 165px;
        }

        .nav-links {
            font-size: 18px;
            padding: 4%;
        }

        .nav-booking-mobile {
            font-size: 20px;
        }
    }

    @media only screen and (min-width: 410px) {
        .logo {
            margin-top: 9%;
        }

        .logo img {
            height: 140px;
            width: 160px;
        }

        .nav-menu {
            height: 60vh;
            top: 180px;
        }

        .nav-links {
            font-size: 20px;
        }

        .nav-booking-mobile {
            font-size: 22px;
        }

        .nav-menu-icon {
            font-size: 2.3rem;
        }
    }

    @media only screen and (min-width: 480px) {
        .nav-menu {
            height: 65vh;
            top: 190px;
        }

        #nav-item-1 {
            margin-top: 12%;
        }
    }

    @media only screen and (min-width: 530px) {
        .logo {
            margin-top: 10%;
        }

        .logo img {
            height: 160px;
            width: 180px;
        }

        .nav-menu {
            height: 63vh;
            top: 220px;
        }

        .nav-links {
            font-size: 21px;
        }

        .nav-booking-mobile {
            font-size: 23px;
        }

        .nav-menu-icon {
            font-size: 2.6rem;
        }
    }

    @media only screen and (min-width: 620px) {

        .logo img {
            height: 180px;
            width: 200px;
        }

        .nav-menu {
            height: 56vh;
            top: 250px;
        }

        .nav-links {
            font-size: 22px;
        }

        .nav-booking-mobile {
            font-size: 24px;
        }
    }

    @media only screen and (min-width: 720px) {
        .logo {
            margin-top: 10%;
        }

        .logo img {
            height: 200px;
            width: 220px;
        }

        .nav-menu {
            height: 53vh;
            top: 250px;
        }

        .nav-links {
            font-size: 23px;
        }

        .nav-booking-mobile {
            font-size: 25px;
        }

        .nav-menu-icon {
            font-size: 2.7rem;
        }
    }
}