/* GENERAL NAVBAR*/

.video {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

.nav-book-button {
    font-family: 'Italiana', serif;
    text-transform: uppercase;
    width: 120px;
    height: 35px;
    color: white;
    border: 2px solid white;
    background-color: rgb(202, 192, 180);
    margin-right: 4%;
    position: relative;
    transition: 0.3s ease-in-out;
    box-shadow: inset 0 0 0 0 #e3dfd8;
    cursor: pointer;
    z-index: 1;
}

.nav-book-button:hover {
    width: 120px;
    font-size: 13px;
    border-radius: 50px;
    box-shadow: inset 140px 0 0 0 #cec4c1;
}

.navbar {
    top: 0;
    width: 100%;
    font-family: "noto serif display", serif;
    height: 110px;
    color: rgb(105, 88, 88);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.nav-menu {
    z-index: 99;
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 20px;
    list-style: none;
    text-align: center;
    width: 60vw;
    justify-content: end;
    margin-right: 2%;
}

.nav-item {
    display: flex;
    align-items: center;
    height: 80px;

}

.logo {
    display: flex;
}

.nav-links {
    color: white;
    text-decoration: none;
}

.nav-links span:hover {
    color: pink;
}

.fa-bars {
    color: white;
}


.nav-menu-icon {
    display: none;
}



@media screen and (max-width: 1921px) {

    .logo {
        z-index: 99;
    }

    .logo img {
        height: 45px;
        width: 45px;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 60vh;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .nav-menu.active {
        background-image: url("../components/imgs/texturebg.png");
        border-radius: 1%;
        border: 3px solid rgb(179, 146, 146);
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
    }

    .nav-links {
        text-align: center;
        font-family: "noto serif display", serif;
        padding: 1rem;
        width: 100%;
        display: table;
        color: rgb(179, 146, 146);
        text-transform: uppercase;
    }

    .nav-links span:hover {
        color: rgb(227, 187, 193);
        border-radius: 0;
    }


    .nav-menu-icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
    }

    .fa-times {
        color: white;
        font-size: 3rem;
    }

    /* #nav-book {
        display: block;
        text-align: center;
        padding: 1% 1%;
        margin: 3rem auto;
        margin-bottom: 10%;
        text-decoration: none;
        color: rgb(227, 187, 193);
        font-size: 1.5rem;
        text-transform: uppercase;
        font-family: "noto serif display", serif;
    }

    #nav-book:hover {
        color: rgb(179, 146, 146);
        transition: 250ms;
    } */

    button {
        display: none;
    }


    /* MOBILE NAVBAR */
    @media only screen and (max-width: 766px) {
        .nav-menu {
            top: 15vh;
            width: 100vw;
            height: 83vh;
        }

        .nav-links {
            font-size: 15px;
            padding: 3%;
        }

        .logo {
            display: flex;
            margin: 0 auto;
            margin-top: 11%;
        }

        .logo img {
            height: 20vh;
            width: 35vw;
        }

    }

    @media only screen and (min-width: 568px) and (orientation: landscape) {
        .logo {
            display: flex;
            margin: 0 auto;
            margin-top: 15%;
        }

        .logo img {
            height: 45vh;
            width: 35vw;
        }

        .nav-menu {
            top: 20vh;
            width: 100vw;
            height: 74vh;
        }

        .nav-links {
            font-size: 14px;
            padding: 1%;
        }

    }

    /* @media only screen and (max-width: 766px) {
        .nav-menu-icon {
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            transform: translate(-100%, 60%);
            font-size: 2rem;
            cursor: pointer;
        }

        .logo {
            display: flex;
            margin: 0 auto;
            margin-top: 8%;
        }

        .logo img {
            height: 110px;
            width: 130px;
        }

        .nav-menu {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 75vh;
            position: absolute;
            top: 140px;
            left: -100%;
            opacity: 1;
            transition: all 0.5s ease;
        }

        .nav-links {
            text-align: center;
            padding: 3%;
            width: 90%;
            font-size: 14px;
            display: table;
            color: rgb(179, 146, 146);
            text-transform: uppercase;
            text-decoration: none;
        }

        .nav-booking-mobile {
            display: block;
            text-align: center;
            width: 80%;
            text-decoration: none;
            color: rgba(227, 187, 193);
            font-size: 16px;
            text-transform: uppercase;
            margin-right: 15%;
        }
    }

    @media only screen and (min-width: 319px) and (min-height: 567px) {
        .logo {
            margin-top: 9%;
        }

        .logo img {
            height: 110px;
            width: 130px;
        }

        .nav-menu {
            height: 60vh;
            top: 154px;
        }

        .nav-links {
            padding: 4%;
        }

        #nav-item-1 {
            margin-top: 8%;
        }

        .nav-booking-mobile {
            margin-top: 3%;
        }

        .fa-bars {
            color: white;
        }
    }

    @media only screen and (min-width: 359px) and (min-height: 639px) {
        .logo {
            margin-top: 9.5%;
        }

        .logo img {
            height: 130px;
            width: 150px;
        }

        .nav-menu {
            height: 60vh;
            top: 165px;
        }

        .nav-links {
            font-size: 16px;
            padding: 4%;
        }

        .nav-booking-mobile {
            font-size: 18px;
        }
    }

    @media only screen and (min-width: 359px) and (min-height: 779px) {
        .logo {
            margin-top: 9.5%;
        }

        .logo img {
            height: 130px;
            width: 150px;
        }

        .nav-menu {
            height: 56vh;
            top: 165px;
        }

        .nav-links {
            font-size: 16px;
            padding: 4%;
        }

        .nav-booking-mobile {
            font-size: 18px;
        }
    }

    @media only screen and (min-width: 359px) and (min-height: 799px) {

        .nav-menu {
            height: 55vh;
            top: 165px;
        }

        .nav-links {
            font-size: 17px;
        }

        .nav-booking-mobile {
            font-size: 19px;
        }

        .nav-menu-icon {
            font-size: 2.1rem;
        }
    }

    @media only screen and (min-width: 389px) and (min-height: 843px) {

        .nav-menu-icon {
            font-size: 2.2rem;
        }
    }

    @media only screen and (min-width: 392px) and (min-height: 872px) {
        .nav-menu.active {
            border: 4px solid rgb(179, 146, 146);
        }
    }

    @media only screen and (min-width: 410px) {
        .logo {
            margin-top: 9%;
        }

        .logo img {
            height: 140px;
            width: 160px;
        }

        .nav-menu {
            height: 60vh;
            top: 180px;
        }

        .nav-links {
            font-size: 20px;
        }

        .nav-booking-mobile {
            font-size: 22px;
        }

        .nav-menu-icon {
            font-size: 2.3rem;
        }
    }

    @media only screen and (min-width: 411px) and (min-height: 868px) {
        .nav-menu.active {
            border: 4px solid rgb(179, 146, 146);
        }

    }

    @media only screen and (min-width: 411px) and (min-height: 945px) {
        .nav-menu {
            height: 54vh;
        }
    }

    @media only screen and (min-width: 413px) and (min-height: 895px) {
        .nav-menu {
            height: 51vh;
        }
    }

    @media only screen and (min-width: 480px) {
        .nav-menu {
            height: 65vh;
            top: 190px;
        }

        #nav-item-1 {
            margin-top: 12%;
        }
    }

    @media only screen and (min-width: 530px) {
        .logo {
            margin-top: 10%;
        }

        .logo img {
            height: 160px;
            width: 180px;
        }

        .nav-menu {
            height: 63vh;
            top: 220px;
        }

        .nav-links {
            font-size: 21px;
        }

        .nav-booking-mobile {
            font-size: 23px;
        }

        .nav-menu-icon {
            font-size: 2.6rem;
        }
    }

    @media only screen and (min-width:567px) and (min-height: 319px) {
        .nav-menu {
            top: 80px;
            height: 75vh;
        }

        .nav-links {
            font-size: 15px;
            padding: 0.5%;
        }

        .nav-booking-mobile {
            margin-bottom: 1%;
            margin-top: -2%;
            font-size: 17px;
        }

        .nav-menu-icon {
            font-size: 2rem;
        }
    }


    @media only screen and (min-width: 599px) and (min-height: 1023px) {
        .nav-menu {
            height: 50vh;
        }

        .nav-links {
            font-size: 22px;
            padding: 4%;
        }

        .nav-booking-mobile {
            font-size: 24px;
            padding: 3%;
            margin-bottom: 4%;
        }

        .fa-bars {
            font-size: 2.3rem;
        }

        .logo {
            margin-top: 15%;
        }
    }

    @media only screen and (min-width: 600px) and (min-height: 961px) {
        .nav-menu {
            height: 36vh;
            top: 250px;
        }

        .nav-links {
            padding: 2%;
            font-size: 18px;
        }

        .nav-booking-mobile {
            font-size: 20px;
            margin-bottom: 2%;
        }

        .fa-bars {
            font-size: 2.3rem;
        }

        .logo {
            margin-top: 15%;
        }
    }

    @media only screen and (min-width: 620px) {

        .logo img {
            height: 180px;
            width: 200px;
        }

        .nav-menu {
            height: 56vh;
            top: 250px;
        }

        .nav-links {
            font-size: 22px;
        }

        .nav-booking-mobile {
            font-size: 24px;
        }
    }

    @media only screen and (min-width: 639px) and (min-height: 359px) {
        .nav-menu {
            top: 80px;
            height: 76vh;
        }

        .nav-links {
            font-size: 18px;
        }

        .nav-booking-mobile {
            font-size: 20px;
        }
    }

    @media only screen and (min-width: 666px) and (min-height: 374px) {
        .nav-menu {
            height: 73vh;
        }
    }

    @media only screen and (min-width: 720px) {
        .logo {
            margin-top: 10%;
        }

        .logo img {
            height: 200px;
            width: 220px;
        }

        .nav-menu {
            height: 53vh;
            top: 250px;
        }

        .nav-links {
            font-size: 23px;
        }

        .nav-booking-mobile {
            font-size: 25px;
        }

        .nav-menu-icon {
            font-size: 2.7rem;
        }
    }

    @media only screen and (min-width: 735px) and (min-height: 413px) {
        .nav-menu {
            top: 80px;
            height: 64vh;
        }

        .nav-menu-icon {
            font-size: 2rem;
        }

        .nav-links {
            font-size: 16px;
        }

        .nav-booking-mobile {
            font-size: 17px;
        }
    }

    @media only screen and (min-width: 739px) and (min-height: 411px) {
        .nav-menu {
            top: 80px;
            height: 69vh
        }

        .nav-links {
            font-size: 18px;
        }

        .nav-booking-mobile {
            font-size: 19px;
        }
    } */

    /* TABLET NAVBAR */
    @media only screen and (min-width: 767px) {
        .nav-menu {
            top: 9vh;
            width: 100vw;
            height: 89.5vh;
        }

        .nav-links {
            font-size: 25px;
        }

        .logo {
            z-index: 99;
            margin-top: 2%;
            margin-left: 2%;
        }

        .logo img {
            height: 80px;
            width: 90px;
            opacity: 100;
        }
    }

    /* @media only screen and (min-width: 767px) {
        .logo {
            z-index: 99;
            margin-top: 2%;
            margin-left: 2%;
        }

        .logo img {
            height: 80px;
            width: 90px;
            opacity: 100;
        }

        .nav-menu {
            height: 63vh;
            top: 280px;
        }

        .nav-links {
            font-size: 25px;
            padding: 3%;
        }

        .nav-booking-mobile {
            font-size: 27px;
            padding: 2%;
            margin-bottom: 4%;
        }

        .nav-menu-icon {
            font-size: 2.8rem;
        }

        .fa-times,
        .fa-bars {
            font-size: 2.3rem;
        }

        .nav-menu.active {
            border: 6px solid rgb(179, 146, 146);
        }
    }

    @media only screen and (min-width: 767px) and (min-height: 1023px) {
        .logo {
            z-index: 99;
            margin-top: 2%;
            margin-left: 2%;
        }

        .logo img {
            height: 80px;
            width: 90px;
            opacity: 100;
        }

        .nav-menu {
            height: 51vh;
            top: 280px;
        }

        .nav-links {
            font-size: 25px;
            padding: 3%;
        }

        .nav-booking-mobile {
            font-size: 27px;
            padding: 2%;
            margin-bottom: 4%;
        }

        .nav-menu-icon {
            font-size: 2.8rem;
        }

        .fa-times,
        .fa-bars {
            font-size: 2.3rem;
        }

        .nav-menu.active {
            border: 6px solid rgb(179, 146, 146);
        }
    }

    @media only screen and (min-width: 779px) and (min-height: 359px) {
        .logo {
            margin-left: 2%;
            margin-top: 1.5%;
        }

        .logo img {
            height: 70px;
            width: 90px;
        }

        .nav-menu {
            top: 80px;
            height: 80vh;
        }

        .nav-links {
            font-size: 19px;
        }

        .nav-booking-mobile {
            font-size: 21px;
        }
    }

    @media only screen and (min-width:799px) and (min-height: 1279px) {
        .nav-menu {
            height: 46vh;
            top: 320px;
        }

        .nav-links {
            font-size: 26px;
            padding: 4%;
        }

        .nav-booking-mobile {
            font-size: 29px;
            padding: 5%
        }

        .nav-menu-icon {
            font-size: 3.1rem;
        }

        .fa-bars {
            font-size: 2.8rem;
        }
    }

    @media only screen and (min-width: 809px) and (min-height: 1079px) {
        .logo {
            z-index: 99;
            margin-top: 1%;
            margin-left: 2%;
        }

        .logo img {
            height: 85px;
            width: 95px;
            opacity: 1;
        }

        .nav-menu {
            height: 53vh;
            top: 310px;
        }

        .nav-links {
            font-size: 26px;
            padding: 4%;
        }

        .nav-booking-mobile {
            font-size: 28px;
            padding: 4%;
        }

        .nav-menu-icon {
            font-size: 3rem;
        }
    }

    @media only screen and (min-width: 819px) and (min-height: 1179px) {
        .fa-bars {
            font-size: 2.9rem;
        }

        .nav-menu-icon {
            font-size: 3.2rem;
        }

        .nav-menu {
            height: 48vh
        }
    }

    @media only screen and (min-width: 833px) and (min-height: 547px) {
        .nav-menu {
            height: 76vh;
            top: 100px;
        }

        .nav-links {
            font-size: 22px;
            padding: 1.5%;
        }

        .nav-booking-mobile {
            font-size: 24px;
            margin-top: -1%;
            margin-bottom: 4%;
        }

        .nav-menu-icon {
            font-size: 2.8rem;
        }

        .fa-bars,
        .fa-times {
            font-size: 2rem;
        }

        .logo {
            margin: 3% 0% 0% 2%;
        }

        .logo img {
            width: 110px;
            height: 90px;
        }
    }

    @media only screen and (min-width: 833px) and (min-height:1111px) {
        .nav-menu {
            height: 50vh;
            top: 300px;
        }

        .nav-links {
            font-size: 25px;
            padding: 4%;
        }

        .nav-booking-mobile {
            font-size: 27px;
            margin-top: -2%;
            margin-bottom: 2%;
        }

        .nav-menu-icon {
            font-size: 3.3rem;
        }

        .fa-bars {
            font-size: 2.8rem;
        }
    }

    @media only screen and (min-width: 833px) and (min-height:1193px) {
        .nav-menu {
            height: 45vh;
        }
    }

    @media only screen and (min-width: 843px) and (min-height: 389px) {
        .nav-menu {
            height: 73vh;
        }
    }

    @media only screen and (min-width: 883px) and (min-height:1103px) {
        .nav-menu {
            height: 48vh;
            top: 300px;
        }

        .nav-links {
            font-size: 27px;
        }

        .nav-booking-mobile {
            margin-top: -1%;
            font-size: 29px;
            margin-bottom: 2%;
        }

        .nav-menu-icon {
            font-size: 3.3rem;
        }

        .fa-bars {
            font-size: 2.9rem;
        }
    }


    @media only screen and (min-width: 1023px) and (min-height: 599px) {
        .nav-links {
            font-size: 22px;
        }

        .nav-booking-mobile {
            font-size: 24px;
            margin-bottom: 3%;
        }

        .nav-menu {
            height: 74vh;
            top: 130px;
        }
    }


    @media only screen and (min-width: 1023px) and (min-height: 767px) {
        .nav-menu {
            height: 59vh;
            top: 150px;
        }
    }

    @media only screen and (min-width: 1023px) and (min-height: 1365px) {
        .logo {
            z-index: 99;
            margin-top: 3%;
            margin-left: 2%;
        }

        .logo img {
            height: 100px;
            width: 110px;
            opacity: 1;
        }

        .nav-menu {
            height: 45vh;
            top: 380px;
        }

        .nav-links {
            font-size: 30px;
        }

        .nav-booking-mobile {
            font-size: 32px;
        }

        .nav-menu-icon {
            font-size: 3.5rem;
        }

        .fa-bars,
        .fa-times {
            font-size: 2.9rem;
        }
    }

    @media only screen and (min-width: 1079px) and (min-height:809px) {
        .nav-booking-mobile {
            margin-top: 0.1%;
        }
    }

    @media only screen and (min-width: 1103px) and (min-height: 883px) {
        .nav-menu {
            height: 56vh;
            top: 200px;
        }
    }

    @media only screen and (min-width: 1179px) and (min-height: 819px) {
        .nav-menu {
            height: 61vh;
        }
    } */



    /* LAPTOP NAVBAR */
    @media only screen and (min-width: 1279px) and (min-height: 719px) {
        .nav-menu {
            top: 13vh;
            width: 100vw;
            height: 85.5vh;
        }

        .nav-links {
            font-size: 30px;
        }

    }

    /* @media only screen and (min-width: 1279px) and (min-height: 719px) {
        .logo {
            margin-top: 3%;
        }

        .logo img {
            height: 110px;
            width: 130px;
            opacity: 1;
        }

        .nav-menu {
            height: 74vh;
            top: 140px;
        }

        .nav-links {
            font-size: 30px;
        }

        .nav-booking-mobile {
            font-size: 32px;
            margin: 1% 0% 2% 0%;
        }

        .nav-menu-icon {
            font-size: 4.1rem;
        }

        .fa-bars,
        .fa-times {
            font-size: 2.8rem;
        }
    }

    @media only screen and (min-width: 1279px) and (min-height: 799px) {
        .nav-menu {
            height: 68vh;
        }
    }

    @media only screen and (min-width: 1279px) and (min-height: 899px) {
        .nav-menu {
            height: 61.5vh;
        }
    }

    @media only screen and (min-width: 1279px) and (min-height: 1023px) {
        .nav-menu {
            height: 57vh;
        }
    } */


    /* DESKTOP NAVBARS */
    @media only screen and (min-width: 1365px) and (min-height: 767px) {

        .nav-menu {
            top: 25vh;
            width: 100vw;
            height: 73.5vh;
        }

        .nav-links {
            font-size: 35px;
        }
    }

    /* @media only screen and (min-width: 1365px) and (min-height: 767px) {
        .logo {
            margin-top: 2%;
            margin-left: 2.5%;
        }

        .logo img {
            height: 125px;
            width: 145px;
            opacity: 1;
        }

        .nav-menu {
            height: 70vh;
            top: 140px;
        }

        .nav-links {
            font-size: 30px;
        }

        .nav-booking-mobile {
            font-size: 32px;
            margin: 1% 0% 2% 0%;
        }

        .nav-menu-icon {
            font-size: 2.7rem;
        }

        .fa-bars,
        .fa-times {
            font-size: 2.2rem;
        }
    }

    @media only screen and (min-width: 1365px) and (min-height: 1023px) {
        .nav-menu {
            height: 58vh;
            top: 230px;
        }
    }

    @media only screen and (min-width: 1439px) and (min-height: 899px) {
        .logo {
            margin-top: 2%;
            margin-left: 2.7%;
        }

        .logo img {
            height: 125px;
            width: 145px;
            opacity: 1;
        }

        .nav-menu {
            height: 62vh;
            top: 160px;
        }

        .nav-links {
            font-size: 30px;
        }

        .nav-booking-mobile {
            font-size: 32px;
            margin: 1% 0% 2% 0%;
        }

        .nav-menu-icon {
            font-size: 3rem;
        }

        .fa-bars,
        .fa-times {
            font-size: 2.8rem;
        }
    }

    @media only screen and (min-width: 1535px) and (min-height: 863px) {
        .logo {
            margin-top: 2%;
            margin-left: 2.7%;
        }

        .logo img {
            height: 140px;
            width: 160px;
            opacity: 1;
        }

        .nav-links {
            text-align: center;
            font-size: 23px;
            margin-right: 5.5%;
        }

        .nav-booking-mobile {
            font-size: 28px;
            margin: 1% 5.5% 9% 0%;
        }

        .nav-menu-icon {
            font-size: 3rem;
        }

        .nav-menu {
            display: flex;
            flex-direction: column;
            width: 20%;
            height: 46vh;
            position: absolute;
            top: 150px;
            left: -100%;
            opacity: 1;
            transition: all 0.5s ease;
        }

        .nav-menu.active {
            background: rgba(245, 245, 245, 0.95);
            border-radius: 1%;
            border: 3px solid rgb(179, 146, 146);
            left: 80%;
            opacity: 1;
            transition: all 0.5s ease;
            z-index: 1;
        }
    }

    @media only screen and (min-width: 1535px) and (min-height: 959px) {
        .nav-menu {
            height: 39.5vh;
        }

        .nav-menu-icon {
            font-size: 3rem;
        }

        .fa-times,
        .fa-bars {
            font-size: 2.7rem;
        }

        .logo {
            margin-top: 1.9%;
        }
    }

    @media only screen and (min-width: 1679px) and (min-height: 874px) {
        .logo {
            margin-top: 1.8%;
            margin-left: 2.7%;
        }

        .logo img {
            height: 145px;
            width: 165px;
            opacity: 1;
        }

        .nav-menu-icon {
            font-size: 3.4rem;
        }

        .nav-menu {
            height: 50vh;
        }

        .nav-booking-mobile {
            margin-bottom: 12%;
        }

    }

    @media only screen and (min-width: 1919px) and (min-height: 1079px) {

        .logo {
            margin-top: 1.6%;
            margin-left: 2.7%;
        }

        .logo img {
            height: 180px;
            width: 200px;
            opacity: 1;
        }

        .fa-bars,
        .fa-times {
            font-size: 2.9rem;
        }

        .nav-links {
            text-align: center;
            font-size: 23.5px;
            margin-right: 5.5%;
        }

        .nav-booking-mobile {
            font-size: 28.5px;
            margin: 1% 5.5% 10% 0%;
        }

        .nav-menu-icon {
            font-size: 3.8rem;
        }


        .nav-menu {
            height: 42vh;
            top: 182px;
        }

    } */
}