/* general */
.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

/*Primary header*/
@media only screen and (max-width: 766px) {
    .logo {
        position: absolute;
        margin-left: 30%;
        margin-top: 14%;
        z-index: 99;
    }

    .logo img {
        height: 80%;
        width: 60%;
    }

    .background {
        margin-bottom: -22%;
    }
}

@media only screen and (min-width: 767px) {
    .logo {
        position: absolute;
        left: 3%;
        top: 4%;
        z-index: 99;
    }

    .logo img {
        height: 65%;
        width: 30%;
    }
}

.primary-navigation {
    z-index: 99;
    list-style: none;
    padding: 0;
    margin: 0;
    background: hsl(0 0% 100% / 0.1);
    backdrop-filter: blur(0.25rem);
    transition: all 0.5s ease;
}

.primary-navigation a {
    text-decoration: none;
    color: white;
    font-family: "noto serif display", serif;
}


.primary-navigation a:hover {
    color: rgb(197, 159, 166);
}

#primary-navigation-inactive {
    transform: translateX(100%);
    transition: all 0.5s ease;
}


@media (min-width: 320px) {
    .primary-navigation {
        font-size: 19px;
        --gap: 2.5em;
        position: fixed;
        inset: 0 0 0 35%;
        flex-direction: column;
        padding: min(20vh, 10%) 2%;
    }
}

@media (min-width: 320px) and (orientation: landscape) {
    .primary-navigation {
        font-size: 19px;
        --gap: 1.5em;
        position: fixed;
        inset: 0 0 0 35%;
        flex-direction: column;
        padding: min(20vh, 10%) 2%;
    }
}

@media (min-width: 500px) {
    .primary-navigation {
        font-size: 18px;
        inset: 0 0 0 45%;
    }
}

@media (min-width: 700px) {
    .primary-navigation {
        inset: 0 0 0 70%;
    }
}

@media (min-width: 700px) and (orientation: landscape) {
    .primary-navigation {
        --gap: 1.9em;
        position: fixed;
        inset: 0 0 0 73%;
        flex-direction: column;
        padding: min(20vh, 10%) 2%;
    }
}


@media (min-width: 1200px) {
    .primary-navigation {
        inset: 0 0 0 80%;
    }
}


@media (min-width: 1600px) {
    .primary-navigation {
        inset: 0 0 0 83%;
        font-size: 19px;
    }
}

.nav-toggle {
    position: absolute;
    z-index: 9999;
    background: url("../components/imgs/burgernav.svg");
    width: 3rem;
    border: 0;
    aspect-ratio: 1;
    top: 2rem;
    right: 1rem;
}

.nav-toggle i {
    color: white;
    font-size: 1.8rem;
}

@media only screen and (max-width: 602px) {
    .nav-toggle {
        top: 1rem;
        right: 0.8rem;
    }
}

@media only screen and (min-width: 1400px) and (orientation: landscape) {
    .nav-toggle i {
        font-size: 2.8rem;
    }

    .nav-toggle {
        top: 3rem;
        right: 2rem;
    }
}