body {

    height: 100vh;
}


.box {
    margin: 0 auto;
    text-align: center;
}

.button {
    display: flex;
    justify-content: space-around;
    padding: 10% 0%;
    color: #ffffff;
    font-family: "playfair display";
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    background-color: rgb(218, 206, 206);
    border: 1.5px solid #ffffff;
    border-radius: 5px;
    width: 120px;
}


.button:hover {
    color: rgb(197, 161, 167);
    cursor: pointer;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 99;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: whitesmoke;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    position: relative;
    transition: all 5s ease-in-out;
}

.popup2,
.popup4,
.popup5 {
    margin: 70px auto;
    padding: 20px;
    background: whitesmoke;
    border-radius: 5px;
    width: 100%;
    height: 76%;
    position: relative;
    transition: all 5s ease-in-out;
}

.popup .close,
.popup2 .close,
.popup4 .close,
.popup5 .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: whitesmoke;
}


.popup .close:hover,
.popup2 .close:hover,
.popup4 .close:hover,
.popup5 .close:hover {
    color: rgb(219, 163, 173);
}

.popup .content,
.popup2 .content,
.popup4 .content,
.popup5 .content {
    max-height: 100%;
    overflow: auto;

}

.popup .content img,
.popup2 .content img,
.popup4 .content img,
.popup5 .content img {
    margin: 0% 1%;
    height: 730px;
    width: 460px;
}

@media screen and (max-width: 1920px) {
    .box {
        width: 63%;
    }

    .popup {
        width: 63%;
    }

    .popup2,
    .popup4,
    .popup5 {
        width: 63%;
    }
}